<!doctype html>
<html lang="en">
<head>
    <%= _.template(require('./../includes/head.html').default)(data) %>
</head>
<body>
<%= _.template(require('./../includes/headerMain.html').default)(data) %>
<div class="video">
    <div class="swiper-container video-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="video-bg" style="background: url('../../img/back.png')"></div>
            </div>
        </div>
    </div>
    <div class="video-arrow__left"></div>
    <div class="video-arrow__right"></div>
</div>
<div class="history">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-xl-6">
                <div class="history-img">
                    <div class="history-img__pic">
                        <img src="../../img/history.png" alt="">
                    </div>
                    <div class="history-img__title">
                        <p>Рестораны</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="history-content">
                    <h3 class="history-content__title">История «У Андре»</h3>
                    <p class="history-content__desc">В апреле 1998 года мы открыли первый ресторан «У Андре». Тогда
                        Саратов узнал вкус тонкой пиццы из дровяной печи, настоящего итальянского тирамису, капучино и,
                        конечно же, пасты ручной работы. В 2013 году появился младший брат «У Андре» в Энгельсе. Теперь
                        неважно, по какую сторону Волги вы живете – вы всегда можете насладиться вкусом домашних
                        итальянских блюд и заказать хрустящую неаполитанскую пиццу! </p>
                    <a href="#">
                        <button class="history-content__btn">О нас</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cook">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-xl-6">
                <div class="cook-img">
                    <div class="cook-img__pic">
                        <img src="../../img/cook.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="cook-content">
                    <h3 class="cook-content__title">марко якетта Бренд-шеф <br>сети ресторанов «У Андре»</h3>
                    <p class="cook-content__desc">Шеф-повар Марко Якетта из итальянского города Фабриано известен во
                        всем мире. Каждый раз, когда он приезжает к нам разработать сезонное меню или внести изменения в
                        кулинарное видение наших поваров, мы все больше влюбляемся в итальянскую кухню! Как говорит сам
                        маэстро, «итальянская кухня прекрасна в своей простоте! Самое главное в ней  – продукты, которые
                        составляют семьдесят процентов успеха. Красота итальянских блюд – в их душевности и вкусовом
                        балансе». Кухня для Марко – это страсть, а также семья и любовь. А Марко для нас – учитель и
                        источник кулинарного вдохновения! </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pizza">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-xl-6">
                <div class="pizza-content">
                    <h3 class="pizza-content__title">Пицца из дровяной <br>неаполитанской печи</h3>
                    <p class="pizza-content__desc">В чем секрет популярности пиццы «У Андре»? В мастерстве наших
                        пиццайоло и, конечно же, в дровяной неаполитанской печи. Ее можно легко узнать по характерной
                        особенности – полусферическому своду. Огонь в такой печи разводится только с одной стороны, жар
                        поднимается к вершине сферы и отражается от нее точно на середину пода. Под прогревается
                        равномерно, что позволяет приготовить классическую пиццу на тонком тесте всего за 2-3 минуты!
                        Ароматная, с хрустящей корочкой, пицца «У Андре» создана для того, чтобы вы улыбались!</p>
                    <a href="#">
                        <button class="pizza-content__btn">Заказать пиццу</button>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="pizza-img">
                    <div class="pizza-img__pic">
                        <img src="../../img/history.png" alt="">
                    </div>
                    <div class="pizza-img__title">
                        <p>Пицца</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="booking">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h4 class="booking-title">Забронируйте<br>столик заранее</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="booking-form">
                    <div class="booking-inputs">
                        <input type="text" name="name" placeholder="Имя" class="booking-input">
                        <input type="text" name="phone" placeholder="Телефон" class="booking-input">
                        <input type="number" placeholder="Количество персон" name="person" class="booking-input">
                    </div>
                    <div class="booking-policy">
                        <input type="checkbox" class="d-none" name="policy" value="1" id="bookPolice">
                        <label for="bookPolice">
                                <span>
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
    <circle cx="14.5" cy="14.5" r="14" stroke="white"/>
    <g clip-path="url(#clip0)">
    <path d="M21.7945 10.0644C21.5211 9.79103 21.078 9.79103 20.8045 10.0644L12.4181 18.4509L9.1945 15.2273C8.92115 14.9539 8.47796 14.954 8.20455 15.2273C7.93117 15.5007 7.93117 15.9439 8.20455 16.2172L11.9231 19.9358C12.1964 20.2091 12.6399 20.2089 12.9131 19.9358L21.7945 11.0544C22.0679 10.781 22.0679 10.3378 21.7945 10.0644Z"
          fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect x="8" y="8" width="14" height="14" fill="white"/>
    </clipPath>
    </defs></svg>
                                </span>
                            <p>Я согласен с условиями <a href="#">политики конфиденциальности</a></p>
                        </label>
                    </div>
                    <div class="booking-submit">
                        <button class="booking-submit__btn">Забронировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="instagram">
    <div class="container">
        <div class="row align-items-end" >
            <div class="col-xl-auto">
                <h5 class="instagram-title">
                    Присоединяйтесь к нашему<br>гастрономическому аккаунту
                </h5>
            </div>
            <div class="col-xl-auto ml-auto">
                <div class="instagram-arrows">
                    <div class="instagram-arrows__left">
                        <svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35 11L1 11M1 11L11 21M1 11L11 0.999998" stroke="#301411" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="instagram-arrows__right">
                        <svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 11H34M34 11L24 1M34 11L24 21" stroke="#301411" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-container insta-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#"><img src="../../img/insta.png" class="instagram-photo" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="../../img/insta.png" class="instagram-photo" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="../../img/insta.png" class="instagram-photo" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="../../img/insta.png" class="instagram-photo" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="../../img/insta.png" class="instagram-photo" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="../../img/insta.png" class="instagram-photo" alt=""></a>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
