<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-xl-auto ml-auto mr-auto">
                <h1 class="page-title">карта бара</h1>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="menu-category">
                    <div class="menu-category__arrows">
                        <div class="arrows-left">
                            <img src="../../img/arrow-left.svg" alt="">
                        </div>
                    </div>
                    <div class="menu-category__wrapper">
                        <div class="menu-category__slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">вина италии</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">вина франции</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">вина чили</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">игристые вина</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">аперитивы</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">виски</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">бренди / коньяк</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="menu-category__link">ром</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-category__arrows">
                        <div class="arrows-right">
                            <img src="../../img/arrow-right.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row menu-info">
            <div class="col-xl-5">
                <div class="menu-info__img">
                    <img src="../../img/map.png" alt="">
                    <div class="hover-info">
                        <div class="hover-info__name">
                            Rivani. Cantina della Torre. VDT
                        </div>
                        <div class="hover-info__name-rus">
                            Ривани. Кантина делла Торре. VDT
                        </div>
                        <div class="hover-info__weight">
                            0,15 | 0,75
                        </div>
                        <div class="hover-info__desc">
                            Сухое вино, обладающее свежим цветочнофруктовым ароматом  и легким сбалансированным вкусом с пикантной кислинкой. Прекрасно сочетается с салатами, блюдами из птицы и рыбы.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="menu-info__arrows">
                    <div class="arrow-top"><img src="../../img/arrow-top.svg" alt=""></div>
                    <div class="arrow-bottom"><img src="../../img/arrow-bottom.svg" alt=""></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="menu-content">
                    <div class="menu-content__title">
                        <p>вина италии</p>
                        <span></span>
                        <p>vini d’italia</p>
                    </div>
                    <div class="menu-content__wrapper">
                        <div class="vertical-content swiper-container" style="    height: 534px;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <p class="menu-content__cat">белые вина</p>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <p class="menu-content__cat">Красные вина</p>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="swiper-slide">
                                    <form action="" class="menu-content__item alc-hover">
                                        <div class="item-title">
                                            <p>Rivani. Cantina della Torre. VDT</p>
                                            <p class="lower">Ривани. Кантина делла Торре. VDT</p>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-price">171 | 857 ₽</p>
                                            <button class="info-cart">
                                                <img src="../../img/cart-mini.svg" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>