<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-xl-auto ml-auto mr-auto">
                <h1 class="page-title">Новости</h1>
            </div>
        </div>
    </div>
</div>


<div class="news">
    <div class="container">
        <div class="row news-item">
            <div class="col-xl-5 news-col">
                <div class="news-img">
                    <img src="../../img/news.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 news-col">
                <div class="news-content news-borderBottom">
                    <p class="news-content__title">Маленький пиццайоло</p>
                    <p class="news-content__desc">Приготовить вкусную и сытную пиццу способен даже ребенок ! Не верите ? Тогда приходите к нам в ресторан "У Андре" со своим ребенком и убедитесь в этом.

                        Каждый день - с понедельника по четверг с 15.00 до 18.00, малыши и ребята постарше, под присмотром опытного пиццайоло, могут научиться готовить настоящую итальянскую пиццу - яркую, вкусную и любимую многими.

                        Процесс приготовления еды очень увлекателен для любого ребенка, это дает ему возможность окунуться во взрослый мир и похвастаться родителям своими кулинарными шедеврами.
                        После приготовления пиццы малышу вручается аттестат " Маленький пиццайоло".

                    </p>
                    <p class="news-content__date">29.01.2020</p>
                </div>
            </div>
        </div>
        <div class="row news-item news-revers">
            <div class="col-xl-7 news-col">
                <div class="news-content news-borderBottom">
                    <p class="news-content__title">Маленький пиццайоло</p>
                    <p class="news-content__desc">Приготовить вкусную и сытную пиццу способен даже ребенок ! Не верите ? Тогда приходите к нам в ресторан "У Андре" со своим ребенком и убедитесь в этом.

                        Каждый день - с понедельника по четверг с 15.00 до 18.00, малыши и ребята постарше, под присмотром опытного пиццайоло, могут научиться готовить настоящую итальянскую пиццу - яркую, вкусную и любимую многими.

                        Процесс приготовления еды очень увлекателен для любого ребенка, это дает ему возможность окунуться во взрослый мир и похвастаться родителям своими кулинарными шедеврами.
                        После приготовления пиццы малышу вручается аттестат " Маленький пиццайоло".

                    </p>
                    <p class="news-content__date">29.01.2020</p>
                </div>
            </div>
            <div class="col-xl-5 news-col">
                <div class="news-img">
                    <img src="../../img/news.png" alt="">
                </div>
            </div>
        </div>
        <div class="row news-item">
            <div class="col-xl-5 news-col">
                <div class="news-img">
                    <img src="../../img/news.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 news-col">
                <div class="news-content news-borderBottom">
                    <p class="news-content__title">Маленький пиццайоло</p>
                    <p class="news-content__desc">Приготовить вкусную и сытную пиццу способен даже ребенок ! Не верите ? Тогда приходите к нам в ресторан "У Андре" со своим ребенком и убедитесь в этом.

                        Каждый день - с понедельника по четверг с 15.00 до 18.00, малыши и ребята постарше, под присмотром опытного пиццайоло, могут научиться готовить настоящую итальянскую пиццу - яркую, вкусную и любимую многими.

                        Процесс приготовления еды очень увлекателен для любого ребенка, это дает ему возможность окунуться во взрослый мир и похвастаться родителям своими кулинарными шедеврами.
                        После приготовления пиццы малышу вручается аттестат " Маленький пиццайоло".

                    </p>
                    <p class="news-content__date">29.01.2020</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>