<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-xl-auto ml-auto mr-auto">
                <h1 class="page-title">оформление заказа</h1>
            </div>
        </div>
    </div>
</div>

<div class="order">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="order-card">
                    <div class="order-card__types">
                        <button></button>
                        <button></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>