@import "reset";
@import "~bootstrap/scss/bootstrap";

// Swiper
@import "~swiper/swiper";
// Fonts
@import "fonts";

// Header
@import "components/header";

// Footer
@import "components/footer";

// Popup
@import "components/reservation";

/*
  Main page styles
*/
input,
textarea,
button,
select{
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus{
    outline: none;
  }
}
.container{
  max-width: 1290px;
}
// Video Slider
@import "main/videoSlide";

// History
@import "main/history";

// Cook
@import "main/cook";

// Pizza
@import "main/pizza";

// Booking
@import "main/booking";

// Instagram
@import "main/instagram";


/*
  About page
*/

@import "about/page";

@import "about/about";

/*
  News page
*/

@import "news/news";

/*
  Menu page
*/

@import "menu/menu";

/*
  Contact page
*/
@import "contact/contact";

/*
  Cart page
*/
@import "cart/cart";

/*
  Order page
*/

@import "cart/order";

/*
  Media
*/

@import "media";

/*
  Text page
*/

@import "text/text";