.page{
  margin-bottom: 65px;
  margin-top: 20px;
  &-title{
    font-weight: 300;
    font-size: 51px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #4A6124;
    font-family: $muller;
  }
}
@media (max-width: 1400px) {
  .page{
    margin-bottom: 40px;
    &-title{
      font-size: 40px;
    }
  }
}